*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #1a36d6; 
    background-image: url("./img/blue-blank-notepad-with-copy-space.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
}

.container{
    margin: auto;
    width: 25%;
    height: 50px;
    margin-top: 250px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(87, 187, 226);
    border-radius: 8px;
}
.input{
    margin-top: 10px;
}
#DOB{
    padding-left: 10px;
    border-radius: 5px;
    width: 170px;
   height: 25px;
}
#btn{
    border-radius: 5px;
    padding: 5px 5px;
    margin-left: 20px;
}
#btn:hover{
    color: white;
    background-color: #1a36d6;
}
.output{
    display: flex;
    justify-content: space-around;
    margin-left: 490px;
    margin-right: 490px;
    margin-top: 20px;
}
#years{
    background-color: rgb(87, 187, 226);
    height: 50px;
    width: 80px;
    color: rgb(20, 15, 15);
    text-align: center;
    padding-top: 15px;
    border-radius: 8px;
}
#months{
    background-color: rgb(87, 187, 226);
    height: 50px;
    width: 80px;
    color: rgb(17, 12, 12);
    text-align: center;
    padding-top: 15px;
    border-radius: 8px;
}
#days{
    background-color: rgb(87, 187, 226);
    height: 50px;
    width: 80px;
    color: rgb(31, 25, 25);
    text-align: center;
    padding-top: 15px;
    border-radius: 8px;
}